<br/>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing inane psychopathy in arguments with people online!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="caption">

    <h2>Solves wobbly hampsters</h2>
    <div class="thumbnail">
      <img src="http://images.sodahead.com/polls/000420543/polls_guinea_pig___tan_4703_578936_answer_5_xlarge.bmp" alt="hampster"/>
    </div>
    <p>Wobbly hampsters: if you really think about it, they're gross. </p>
  </div>
</div>
  <div class="col-md-4">
    <h2>Eliminates pudding. <br> Period.</h2>
    <div class="thumbnail">
      <img src="http://a.dilcdn.com/bl/wp-content/uploads/sites/8/2011/05/Nutella-pudding1.jpg" class="img-responsive " alt="pudding"/>
    </div>
    <p>Never choke on pudding again. Vanilla, chocolate, hazelnut. Any pudding. Although what are you doing choking on pudding in the first place? Learn to eat your pudding like an adult. </p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better lattes. </h2>
    <div class="thumbnail">
      <img src="
      http://aroma.ca/wp-content/uploads/2010/09/aroma-chai.jpg" class="img-responsive" alt=" latte"/>
    </div>

    <p>Unlike Reddit, which make awful coffee drinks, Bloccit will make you a decent latte. Which you <em> need</em>, because you're too special for a <em> regular </em> coffee. Jerk. </p>
  </div>
</div>