.social-btn {
  display:relative;
  background-position:center;
  height:5%;
  width:10%;
  background-color:grey;
  color:white;
  border:1px;
  box-shadow: 2px 2px 2px 2px grey;
  font:raleway;
}

img.img-responsive {
  width: 80%;
  margin: 8% 0 8% 5%;
  
}

h2 {
  text-align: left;
  line-height: 22%;
}

